#root {
  width: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(50, 47, 47);
  color: white;
  padding: 10px 50px;
}

.navbar ul {
  display: flex;
  margin: 0px auto;
  font-size: 14px;
  list-style: none;
}

.navbar ul li {
  margin: 10px;
}

.App {
  background: rgb(44, 183, 134);
  min-height: 100vh;
}

.container {
  margin: 0px auto;
  padding: 0 50px;
}

.container .blog {
  display: flex;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .products {
  display: flex;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  font-size: 10px;
  color: rgb(50, 47, 47);
  position: relative; 
}

.container .card img {
  width: 100%;
  height: 200px;
}

.card .badge {
  background-color: #ddf9c7;
  color: black;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  position: absolute; 
  top: 10px; 
  right: 10px; 
}

.card .details h3 {
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   height: 35px;
}

.card .view {
  font-size: 12px;
  bottom:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 8px 20px;
  border-radius: 25px;
  background-color: #2196F3;
  margin-top: 8px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.card .price {
  color: grey;
    font-size: 22px;
    justify-content: center;
    display: flex;
}

.search-bar input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color: #fff;
    border-radius: 4px;
}